*::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.paddle {
    position: absolute;
    background-color: white;
    width: 1vh;
    height: 10vh;
    transform: translateY(-50%);
    top: 50vh;
}

.paddle.left {
    left: 1vw;
}

.paddle.right {
    right: 1vw;
}